Repository rfprod/nx-ng-starter, pull requests merged in 2020-04, with the labels that each got.

#69 chore(dependencies): updated engines and dependencies
  angular.json
  apps/api/src/app/modules/graphql/matcomp/matcomp.module.ts
  apps/api/src/app/modules/graphql/matcomp/matcomp.resolver.ts
  functions/package-lock.json
  functions/package.json
  nx.json
  package-lock.json
  package.json
  tsconfig.json
  tslint.json
Labels: API, dependencies, refactor

#70 improvement(graphql+grpc): fixed graphql module (there's a schema iss…
  apps/api/api-schema.gql
  apps/api/src/app/app.module.ts
  apps/api/src/app/middleware/logger/logger.middleware.ts
  apps/api/src/app/modules/graphql/graphql-api.module.ts
  apps/api/src/app/modules/graphql/matcomp/matcomp.module.ts
  apps/api/src/app/modules/graphql/matcomp/matcomp.resolver.ts
  apps/api/src/app/modules/graphql/matcomp/matcomp.service.ts
  apps/api/src/app/modules/grpc/controller/grpc-api.controller.ts
  apps/api/src/app/modules/grpc/grpc-api-client.options.ts
  apps/api/src/app/modules/grpc/grpc-api.module.ts
  apps/api/src/main.ts
  functions/package-lock.json
  functions/package.json
  libs/api-interface/src/lib/generated/client-api-gql.ts
  libs/api-interface/src/lib/graphql/matcomp/dto/matcomp.args.ts
  libs/api-interface/src/lib/graphql/matcomp/dto/new-matcomp-input.dto.ts
  libs/api-interface/src/lib/graphql/matcomp/matcomp.interface.ts
  libs/api-interface/src/lib/graphql/matcomp/model/matcomp.model.ts
  libs/api-interface/src/lib/graphql/upload/dto/new-file-upload-input.dto.ts
  libs/api-interface/src/lib/shared/scalars/date/date.scalar.ts
  libs/proto/src/lib/interfaces/ts/nx-ng-starter_proto.d.ts
  libs/proto/src/lib/interfaces/ts/nx-ng-starter_proto.js
  package-lock.json
  package.json
  tools/proto/common.proto
  tools/proto/root.proto
Labels: API, dependencies, enhancement, fix

#72 fix(gql-types): fixed gql types; improved shared status codes enum
  apps/api/api-schema.gql
  apps/nx-ng-starter/src/app/components/app-index/api/app-index-api.component.ts
  libs/api-interface/src/lib/graphql/matcomp/dto/matcomp.args.ts
  libs/api-interface/src/lib/graphql/matcomp/model/matcomp.model.ts
  libs/api-interface/src/lib/shared/http/codes/http-codes.interface.ts
  libs/api-interface/src/lib/shared/http/codes/http-statuses.interface.ts
  libs/api-interface/src/lib/shared/http/index.ts
Labels: API, UI, fix

#73 refactor(fixes): junk removal, nd fixes
  .azure/nx-ng-starter-master.yml
  .azure/nx-ng-starter-pr-validation.yml
  .stylelintrc
  apps/.gitkeep
  apps/nx-ng-starter-e2e/src/integration/app.spec.ts
  apps/nx-ng-starter/proxy.conf.json
  apps/nx-ng-starter/src/app/app-routing.module.ts
  apps/nx-ng-starter/src/app/app.module.ts
  apps/nx-ng-starter/src/app/components/app-index/api/app-index-api.component.ts
  apps/nx-ng-starter/src/app/components/app-index/home/app-index-home.component.ts
  apps/nx-ng-starter/src/app/components/app/app.component.html
  apps/nx-ng-starter/src/styles.scss
  apps/nx-ng-starter/src/theming/theming-extension.scss
  libs/.gitkeep
  libs/api-interface/src/lib/shared/http/index.ts
  libs/mocks-core/src/lib/mocks-core.module.ts
  libs/mocks-core/src/lib/ui/components/dummy.component.mock.scss
  libs/mocks-core/src/lib/ui/components/dummy.component.mock.ts
  libs/mocks-core/src/lib/util/jest/jest-jsdom-globals.patch.ts
  libs/shared-core/src/lib/data-access/.gitkeep
  libs/shared-core/src/lib/data-access/http-handlers/http-handlers.service.spec.ts
  libs/shared-core/src/lib/data-access/http-handlers/http-handlers.service.ts
  libs/shared-core/src/lib/data-access/interfaces/http-handlers/http-handlers.interface.ts
  libs/shared-core/src/lib/data-access/interfaces/index.ts
  libs/shared-core/src/lib/data-access/shared-core-services.module.ts
  libs/shared-core/src/lib/util/.gitkeep
  libs/shared-core/src/lib/util/general-purpose/factories.ts
  libs/shared-core/src/lib/util/general-purpose/generators.ts
  libs/shared-core/src/lib/util/general-purpose/index.ts
  libs/shared-core/src/lib/util/general-purpose/injection-tokens.ts
  libs/shared-core/src/lib/util/http/http-statuses.interface.ts
  libs/shared-core/src/lib/util/index.ts
  libs/shared-core/src/lib/util/interfaces/counters.ts
  libs/shared-core/src/lib/util/interfaces/timeouts.ts
  tsconfig.json
Labels: API, lint, refactor, specs, web

#74 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation, improvement, workspace

#75 ci(azure-pipelines): updated excludes in azure pilelines
  .azure/nx-ng-starter-master.yml
  .azure/nx-ng-starter-pr-validation.yml
Labels: CI, optimization

#76 fix(function-deployment): fixed functions deployment
  .azure/nx-ng-starter-master.yml
  README.md
  apps/api/src/app/modules/grpc/grpc-api-client.options.ts
  apps/nx-ng-starter/proxy.conf.json
  apps/nx-ng-starter/src/app/components/app-index/api/app-index-api.component.ts
  functions/package.json
Labels: API, CI, fix

#78 fix(compilation+deploy): fixed client app compilation; fixed firebase…
  .azure/nx-ng-starter-master.yml
  .azure/nx-ng-starter-pr-validation.yml
  README.md
  angular.json
  apps/api/src/app/modules/graphql/graphql-api.module.ts
  apps/api/src/main.ts
  apps/api/tsconfig.spec.json
  apps/nx-ng-starter/firebase.json
  apps/nx-ng-starter/src/app/app-routing.module.ts
  apps/nx-ng-starter/src/app/app.module.ts
  apps/nx-ng-starter/src/app/components/app-index/api/app-index-api.component.ts
  apps/nx-ng-starter/src/app/components/app-index/home/app-index-home.component.html
  apps/nx-ng-starter/src/app/components/app-index/home/app-index-home.component.ts
  apps/nx-ng-starter/src/app/components/app-index/index/app-index.component.html
  apps/nx-ng-starter/src/app/components/app-index/index/app-index.component.scss
  apps/nx-ng-starter/src/app/components/app-index/index/app-index.component.spec.ts
  apps/nx-ng-starter/src/app/components/app-index/index/app-index.component.ts
  apps/nx-ng-starter/src/app/components/app/app.component.html
  apps/nx-ng-starter/src/app/components/app/app.component.spec.ts
  apps/nx-ng-starter/src/app/components/app/app.component.ts
  apps/nx-ng-starter/src/polyfills.ts
  apps/nx-ng-starter/tsconfig.spec.json
  libs/api-interface/tsconfig.spec.json
  libs/mocks-core/src/lib/mocks-core.module.ts
  libs/mocks-core/tsconfig.spec.json
  libs/shared-core/src/lib/data-access/http-handlers/http-handlers.service.ts
  libs/shared-core/src/lib/shared-core.module.ts
  libs/shared-core/src/lib/ui/modules/state/http-api/http-api.interface.ts
  libs/shared-core/src/lib/ui/modules/state/http-api/http-api.service.ts
  libs/shared-core/src/lib/ui/modules/translate/services/app-translation-utils.service.ts
  libs/shared-core/src/lib/util/http/message.interface.ts
  libs/shared-core/src/lib/util/index.ts
  libs/shared-core/tsconfig.spec.json
  package-lock.json
  package.json
  tools/shell/install.sh
  tsconfig.json
  yarn.lock
Labels: CI, bug, dependencies, firebase, fix, web

#79 refactor(webapp+configs): removed junk from config; emabled Ivy; refa…
  angular.json
  apps/api/src/app/modules/auth-utils/service/auth-utils.service.ts
  apps/api/tsconfig.app.json
  apps/api/tsconfig.json
  apps/nx-ng-starter/src/app/components/app-index/api/app-index-api.component.spec.ts
  apps/nx-ng-starter/src/app/components/app-index/api/app-index-api.component.ts
  apps/nx-ng-starter/src/app/components/app-index/home/app-index-home.component.spec.ts
  apps/nx-ng-starter/src/app/components/app-index/home/app-index-home.component.ts
  apps/nx-ng-starter/src/app/components/app-index/index/app-index.component.spec.ts
  apps/nx-ng-starter/src/app/components/app/app.component.html
  apps/nx-ng-starter/src/app/components/app/app.component.spec.ts
  apps/nx-ng-starter/tsconfig.app.json
  apps/nx-ng-starter/tsconfig.json
  apps/nx-ng-starter/tsconfig.spec.json
  libs/api-interface/tsconfig.json
  libs/api-interface/tsconfig.lib.json
  libs/api-interface/tsconfig.spec.json
  libs/mocks-core/src/lib/util/jest/jest-jsdom-globals.patch.ts
  libs/mocks-core/src/lib/util/jest/jest-spies.patch.ts
  libs/mocks-core/tsconfig.json
  libs/mocks-core/tsconfig.lib.json
  libs/mocks-core/tsconfig.spec.json
  libs/proto/tsconfig.json
  libs/proto/tsconfig.lib.json
  libs/proto/tsconfig.spec.json
  libs/shared-core/src/lib/data-access/http-handlers/http-handlers.service.ts
  libs/shared-core/src/lib/data-access/markdown/markdown.service.ts
  libs/shared-core/src/lib/data-access/toaster/toaster.service.spec.ts
  libs/shared-core/src/lib/ui/modules/translate/services/app-translation-utils.service.ts
  libs/shared-core/tsconfig.json
  libs/shared-core/tsconfig.lib.json
  libs/shared-core/tsconfig.spec.json
  package.json
  tsconfig.json
  tslint.json
  yarn.lock
Labels: API, dependencies, fix, refactor, specs, web

#80 ci(firebase-deployment): debugged firebase functions deployment; grpc…
  angular.json
  apps/api/src/app/modules/grpc/grpc-api-client.options.ts
  apps/api/src/environments/environment.firebase.ts
  apps/api/src/main.ts
  apps/nx-ng-starter/proxy.conf.json
  apps/nx-ng-starter/src/app/components/app/app.component.html
  functions/package-lock.json
  functions/package.json
  libs/shared-core/src/lib/data-access/interfaces/environment/environment.interface.ts
  tools/shell/build.sh
Labels: API, bug, firebase, fix, web

#81 chore(client-server-integration): revised client-server integration; …
  .devops/envoy.Dockerfile
  .devops/envoy.yml
  .dockerignore
  apps/api/src/app/modules/grpc/controller/grpc-api.controller.ts
  apps/api/src/environments/environment.firebase.ts
  apps/api/src/environments/environment.prod.ts
  apps/api/src/environments/environment.ts
  apps/api/src/main.ts
  apps/nx-ng-starter/src/app/components/app-index/api/app-index-api.component.html
  apps/nx-ng-starter/src/app/components/app-index/api/app-index-api.component.scss
  apps/nx-ng-starter/src/app/components/app-index/api/app-index-api.component.spec.ts
  apps/nx-ng-starter/src/app/components/app-index/api/app-index-api.component.ts
  apps/nx-ng-starter/src/app/components/app/app.component.spec.ts
  apps/nx-ng-starter/src/environments/environment.prod.ts
  apps/nx-ng-starter/src/environments/environment.ts
  libs/mocks-core/src/lib/data-access/http-handlers/http-handlers-provider.mock.ts
  libs/mocks-core/src/lib/mocks-core.module.ts
  libs/shared-core/src/lib/data-access/http-handlers/http-handlers.service.spec.ts
  libs/shared-core/src/lib/data-access/http-handlers/http-handlers.service.ts
  libs/shared-core/src/lib/data-access/interfaces/environment/environment.interface.ts
  libs/shared-core/src/lib/data-access/shared-core-services.module.ts
  libs/shared-core/src/lib/shared-core.module.ts
  libs/shared-core/src/lib/ui/.gitkeep
  libs/shared-core/src/lib/ui/modules/state/http-api/http-api.service.spec.ts
  libs/shared-core/src/lib/ui/modules/state/http-api/http-api.service.ts
  tsconfig.json
Labels: API, Architecture, CI, devops, refactor, specs, web

#82 chore(dependencies+devops): updated dependencies; added envoy configs
  .devops/docker-compose.envoy.local.yml
  .devops/docker-compose.envoy.yml
  .devops/envoy.Dockerfile
  .devops/envoy/envoy.local.yaml
  .devops/envoy/envoy.yml
  apps/api/src/app/modules/graphql/graphql-api.module.ts
  apps/api/src/main.ts
  apps/nx-ng-starter/src/app/app.module.ts
  apps/nx-ng-starter/src/environments/environment.prod.ts
  apps/nx-ng-starter/src/environments/environment.ts
  functions/package-lock.json
  functions/package.json
  libs/proto/src/index.ts
  libs/proto/src/lib/interfaces/grpc/common_pb.d.ts
  libs/proto/src/lib/interfaces/grpc/common_pb.js
  libs/proto/src/lib/interfaces/grpc/root_grpc_web_pb.d.ts
  libs/proto/src/lib/interfaces/grpc/root_grpc_web_pb.js
  libs/shared-core/src/lib/data-access/interfaces/environment/environment.interface.ts
  package.json
  tools/shell/docker.sh
  yarn.lock
Labels: dependencies, devops, proto

#83 chore(dependencies): updated project dependencies; updated envoy conf…
  .devops/docker-compose.envoy.local.yml
  .devops/envoy/envoy.local.yaml
  .devops/envoy/envoy.yml
  apps/api/src/app/.gitkeep
  apps/api/src/app/modules/grpc/grpc-api-client.options.ts
  apps/nx-ng-starter/src/environments/environment.prod.ts
  apps/nx-ng-starter/src/environments/environment.ts
  functions/package-lock.json
  functions/package.json
  libs/api-interface/src/lib/generated/client-api-gql.ts
  libs/mocks-core/src/lib/data-access/.gitkeep
  libs/mocks-core/src/lib/ui/.gitkeep
  libs/mocks-core/src/lib/util/.gitkeep
  libs/shared-core/src/lib/data-access/interfaces/environment/environment.interface.ts
  package.json
  tools/shell/docker.sh
  yarn.lock
Labels: API, dependencies, devops, improvement, shell, web

#84 fix(api): fixed nestjs deployment
  .azure/nx-ng-starter-master.yml
  apps/api/src/app/app.module.ts
  apps/api/src/app/modules/graphql/graphql-api.module.ts
  apps/api/src/environments/environment.firebase.ts
  apps/api/src/environments/environment.prod.ts
  apps/api/src/environments/environment.ts
  apps/api/src/main.ts
  apps/nx-ng-starter/src/app/components/app-index/api/app-index-api.component.ts
  apps/nx-ng-starter/src/environments/environment.prod.ts
  apps/nx-ng-starter/src/environments/environment.ts
  functions/package-lock.json
  functions/package.json
  libs/api-interface/src/lib/environment/api-environment.interface.ts
  libs/api-interface/src/lib/environment/index.ts
  libs/api-interface/src/lib/interfaces.ts
  libs/mocks-core/src/lib/data-access/http-handlers/http-handlers-provider.mock.ts
  libs/shared-core/src/lib/data-access/http-handlers/http-handlers.service.ts
  libs/shared-core/src/lib/data-access/interfaces/environment/environment.interface.ts
  libs/shared-core/src/lib/shared-core.module.ts
  package.json
  tools/shell/install.sh
Labels: API, CI, dependencies, firebase, fix

#85 build(shell): fixed installation script
  tools/shell/install.sh
Labels: fix, shell

#86 build(shell): fixed install.sh
  .azure/nx-ng-starter-master.yml
  tools/shell/install.sh
Labels: fix, shell

#87 fix(client-routing): fixed client app routing
  apps/nx-ng-starter/src/app/app-routing.module.ts
Labels: fix, web

#88 chore(vscode): updated vscode recommended extensions and settings
  .vscode/extensions.json
  .vscode/recommended-settings.json
Labels: IDE, workspace

#89 chore(storybook): added storybook dependencies
  README.md
  package.json
  yarn.lock
Labels: E2E, dependencies, documentation, workspace

#90 chore(vscode): updated vscode recommended settings
  .vscode/recommended-settings.json
Labels: lint, workspace

#91 chore(vscode): recommended settings and plugins
  .vscode/extensions.json
  .vscode/recommended-settings.json
Labels: IDE, lint, workspace

#92 chore(vscode): recommended settings
  .vscode/recommended-settings.json
Labels: lint, workspace

#93 fix(scss): removed junk
  apps/nx-ng-starter/src/styles.scss
Labels: UI

#96 fix(shell): make shell scripts executable
  tools/shell/build.sh
  tools/shell/changelog.sh
  tools/shell/colors.sh
  tools/shell/docker.sh
  tools/shell/document.sh
  tools/shell/e2e.sh
  tools/shell/firebase-deploy.sh
  tools/shell/git-extension.sh
  tools/shell/install.sh
  tools/shell/lint.sh
  tools/shell/module-aliases.sh
  tools/shell/test.sh
Labels: Fix, Shell
